@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: grey;
}
